#headline {
	width: 1200px;
	height: 200px;
	margin: 0 auto;
	border-bottom: 3px solid #999;
}
#headline h1 {
	font-size: 75px;
	float: left;
	position: relative;
	left: 25px;
}
.logo {
	float: left;
	width: 150px;
}
#target {
	width: 1200px;
	margin: 0 auto;
}
.article {
	display: inline-block;
	width: 340px;
	height: 340px;
	padding: 10px;
	border: 1px solid #999;
	box-shadow: 4px 4px 4px #ccc;
	vertical-align: top;
	margin: 10px;
}